<a href="https://colab.research.google.com/github/meghanaacharya954-cloud/Data_Analyst_task-01/blob/main/dA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
df = pd.read_csv('/content/Mall_Customers (1).csv')
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [58]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [59]:
df=df.drop_duplicates()
df.shape

(200, 5)

In [60]:
df.columns = df.columns.str.lower().str.replace(" ","_")
df.head()

   customerid   genre  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [61]:
df.dtypes

customerid                 int64
genre                     object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object

In [62]:
df['customerid'] = df['customerid'].astype(int)
df['age'] = df['age'].astype(int)

In [63]:
df.to_csv("cleaned_Mall_Customer.csv",index=False)

summary of data cleaning

1.removed 54 missing values
2.standardized gender coloumn
3.converted date to dd-mm-yy
4.removed 12 duplicate rows
5.renamed all coloumns names

+Code  +Text